<style>
  html { max-width: 80ch; padding: 2rem 0.5rem; margin: auto; line-height: 1.75; font-size: 1.15rem; background-color: #fafafa; }
  p, ul, ol { margin-bottom: 1rem; color: #1d1d1d; font-family: sans-serif; }
  pre { padding: 4px; overflow: auto; line-height: 1.25; }
  a { background-color: transparent; text-decoration: none; cursor: pointer; }
  a:hover, a:focus { text-decoration: underline; }
</style>
<title>{{ $.Site.Title }}</title>
<nav>
  {{ range $i, $navigationLink := $.Site.NavigationLinks }}
  {{ if $i }}&boxv; {{ end }}<a href='{{ $navigationLink.URL }}'>{{ $navigationLink.Name }}</a>
  {{ end }}
</nav>
<hr>
<h1>404 Not Found</h1>
<p>The page you are looking for could not be found.</p>
