<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>export file{{ if $.SitePrefix }} - {{ $.SitePrefix }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  {{- if $.SitePrefix }}
  &bull;<a href='/{{ join "files" $.SitePrefix }}/' class='ma2 white'>{{ $.SitePrefix }}</a>
  {{- end }}
  &bull;<a href='{{ $.ContentBaseURL }}' class='ma2 white'>view site</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}{{ if $.DisableReason }} (account disabled){{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if or (eq $.Error "InvalidParent") (and (not $.Files) (not $.ExportParent)) }}
<div>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <div class='mv3 b tc'>No files to export</div>
</div>
{{- else if eq $.Error "ExportLimitReached" }}
<div>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <div class='mv3 b tc'>There is an ongoing export, please try again once it has completed or <a href='/{{ join "files" $.SitePrefix "exports" }}/'>cancel it from the exports page</a></div>
</div>
{{- else }}
<form method='post' data-prevent-double-submit='{"statusText":"exporting, please wait..."}'>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  {{- if eq $.Parent "." }}
  <h3 class='mv3 b'>Export {{ if $.SitePrefix }}site <a href='/{{ join "files" $.SitePrefix }}/'>{{ $.SitePrefix }}</a>{{ else }}the <a href='/files/'>default site</a>{{ end }}? (&asymp;{{ humanReadableFileSize $.TotalBytes }})</h3>
  {{- else if $.ExportParent }}
  <h3 class='mv3 b'>Export <a href='/{{ join "files" $.SitePrefix $.Parent }}/'>{{ base $.Parent }}/</a>? (&asymp;{{ humanReadableFileSize $.TotalBytes }})</h3>
  <input type='hidden' name='parent' value='{{ $.Parent }}'>
  {{- else }}
  <h3 class='mv3 b'>Export the following file(s)? (&asymp;{{ humanReadableFileSize $.TotalBytes }})</h3>
  <input type='hidden' name='parent' value='{{ $.Parent }}'>
  <ul class='list-style-disc ph3'>
    {{- range $file := $.Files }}
    <li class='mv1'>
      <input type='hidden' name='name' value='{{ $file.Name }}'>
      {{- $fileType := getFileType $file.Name }}
      {{- if $fileType.IsImg }}
        {{- if and $.CDNDomain $.IsDatabaseFS $fileType.IsObject }}
        <img src='//{{ $.CDNDomain }}/{{ $file.FileID }}{{ ext $file.Name }}' class='h3 w3 mr1 object-cover' loading='lazy'>
        {{- else }}
        <img src='/{{ join "files" $.SitePrefix $.Parent $file.Name }}?raw' class='h3 w3 mr1 object-cover' loading='lazy'>
        {{- end }}
      {{- end }}
      <a href='/{{ join "files" $.SitePrefix $.Parent $file.Name }}{{ if $file.IsDir }}/{{ end }}'>{{ $file.Name }}{{ if $file.IsDir }}/{{ end }}</a>
      {{- if or (not $file.IsDir) $.IsDatabaseFS }}
      <span class='ml2 f6 mid-gray'>{{ humanReadableFileSize $file.Size }}</span>
      {{- end }}
      <span class='ml2 f6 mid-gray'>{{ $file.CreationTime.Format "2006-01-02" }}</span>
    </li>
    {{- end }}
  </ul>
  {{- end }}
  <div class='mv3'>
    <div><label for='outputName' class='b'>Output name (optional):</label></div>
    <div class='flex items-center'>
      <input id='outputName' name='outputName' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "outputName" }} b--invalid-red{{ end }}'>
      <span class='ml2'>.tgz</span>
    </div>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "outputName" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>Export</button>
  <div role='status'></div>
</form>
{{- end }}
