<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>postlist.json (Post List Settings)</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  {{- if $.SitePrefix }}
  &bull;<a href='/{{ join "files" $.SitePrefix }}/' class='ma2 white'>{{ $.SitePrefix }}</a>
  {{- end }}
  &bull;<a href='{{ $.ContentBaseURL }}' class='ma2 white'>view site</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}{{ if $.DisableReason }} (account disabled){{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "postlist.json" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  <div class='pv1'>
    <div>saved settings (regenerated {{ $.RegenerationStats.Count }} file{{ if ne $.RegenerationStats.Count 1 }}s{{ end }} in {{ $.RegenerationStats.TimeTaken }}): <a href='{{ $.ContentBaseURL }}/{{ join "posts" $.Category }}/'>view</a></div>
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
<form method='post' action='/{{ join "files" $.SitePrefix "posts" $.Category "postlist.json" }}' class='mv2' data-prevent-double-submit>
  {{- if $.RegenerationStats.TemplateError.ErrorMessage }}
  <div class='mv2 invalid-red'>
    <span class='b'>template error: </span>
    {{- if $.RegenerationStats.TemplateError.Name }}
      {{- if hasPrefix $.RegenerationStats.TemplateError.Name "/themes/" }}
      <a href='/{{ join "files" $.SitePrefix "output" $.RegenerationStats.TemplateError.Name }}{{ if $.RegenerationStats.TemplateError.Line }}#L{{ $.RegenerationStats.TemplateError.Line }}{{ end }}'>{{ $.RegenerationStats.TemplateError.Name }}{{ if $.RegenerationStats.TemplateError.Line }}:{{ $.RegenerationStats.TemplateError.Line }}{{ end }}</a>: {{ $.RegenerationStats.TemplateError.ErrorMessage }}
      {{- else }}
      <a href='/{{ join "files" $.SitePrefix $.RegenerationStats.TemplateError.Name }}{{ if $.RegenerationStats.TemplateError.Line }}#L{{ $.RegenerationStats.TemplateError.Line }}{{ end }}'>{{ $.RegenerationStats.TemplateError.Name }}{{ if $.RegenerationStats.TemplateError.Line }}:{{ $.RegenerationStats.TemplateError.Line }}{{ end }}</a>: {{ $.RegenerationStats.TemplateError.ErrorMessage }}
      {{- end }}
    {{- else }}
    {{ $.RegenerationStats.TemplateError.ErrorMessage }}
    {{- end }}
  </div>
  {{- end }}
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- else }}
  <div><a href='/{{ join "files" $.SitePrefix "posts" $.Category }}{{ if not (contains $.SitePrefix ".") }}/{{ end }}'>&larr; back</a></div>
  {{- end }}
  <h1 class='f3 mv3 b'>{{ join $.Category "postlist.json" }} (Post List Settings)</h1>
  <div class='mv3'>
    <div><label for='postsPerPage' class='b'>Posts per page:</label></div>
    <input id='postsPerPage' type='number' name='postsPerPage' value='{{ $.PostsPerPage }}' min='1' class='pv1 ph2 br2 ba' required>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>save</button>
</form>
