<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module' src='/files/static/rename-d8b7198c.js'></script>
<script type='module'>{{ baselineJS }}</script>
<title>Rename</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  {{- if $.SitePrefix }}
  &bull;<a href='/{{ join "files" $.SitePrefix }}/' class='ma2 white'>{{ $.SitePrefix }}</a>
  {{- end }}
  &bull;<a href='{{ $.ContentBaseURL }}' class='ma2 white'>view site</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}{{ if $.DisableReason }} (account disabled){{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if eq $.Error "InvalidFile" }}
<div>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <div class='mv3 b tc'>Nothing to rename.</div>
</div>
{{- else }}
<form method='post' action='/{{ join "files" $.SitePrefix "rename" }}/' data-prevent-double-submit>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- else }}
  <div><a href='/{{ join "files" $.SitePrefix $.Parent }}/'>&larr; back</a></div>
  {{- end }}
  <h2 class='ma0 b'>
    Rename <a href='/{{ join "files" $.SitePrefix $.Parent $.Name }}{{ if $.IsDir }}/{{ end }}'>{{ $.Name }}{{ if $.IsDir }}/{{ end }}</a>
  </h2>
  <div><span class='dark-red'>*&nbsp;</span><em>required</em></div>
  <button type='button' class='button ba br2 b--black ph3 pv1 mv2' data-copy>&darr; copy name &darr;</button>
  <input type='hidden' name='parent' value='{{ $.Parent }}'>
  <input type='hidden' name='name' value='{{ $.Name }}'>
  <div class='mv3'>
    <div class='b'>Old Name:</div>
    <div class='flex items-center'>
      {{ if $.Prefix }}<span class='mr2'>{{ $.Prefix }}</span>{{ end }}
      <input value='{{ trimPrefix $.From $.Prefix }}' class='pv1 ph2 br2 ba w-100 bg-near-white' disabled data-src>
      {{ if $.Ext }}<span class='ml2'>{{ $.Ext }}<span>{{ end }}
    </div>
  </div>
  <div class='mv3'>
    <div><span class='dark-red'>*&nbsp;</span><label for='to' class='b'>New Name:</label></div>
    {{- if eq (head $.Parent) "pages" "posts" "output" "imports" "exports" }}
    <ul class='list-style-disc ph3 f6 mid-gray'>
      <li>no space allowed</li>
      <li>characters not allowed: <code>!"#$%&amp;'()*+,/:;&lt;&gt;=?[]\^`{}|~</code></li>
    </ul>
    {{- end }}
    <div class='flex items-center'>
      {{ if $.Prefix }}<span class='mr2'>{{ $.Prefix }}</span>{{ end }}
      <input id='to' name='to' value='{{ $.To }}' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "to" }} b--invalid-red{{ end }}' required{{ if not (index $.FormErrors "to") }} autofocus{{ end }} data-dest>
      {{ if $.Ext }}<span class='ml2'>{{ $.Ext }}<span>{{ end }}
    </div>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "to" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>Rename</button>
</form>
{{- end }}
