<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>reset password</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  <span class='flex-grow-1'></span>
</nav>
{{- if eq $.Error "InvalidResetToken" "MissingResetToken" }}
<div>
  <div class='mv3 b tc'>Invalid reset token.</div>
</div>
{{- else if eq $.Error "EmailRateLimited" }}
<div class='w-80 w-70-m w-60-l center'>
  <h2 class='ma0 b'>Reset password (email rate limited)</h2>
  <div><span class='dark-red'>*&nbsp;</span><em>required</em></div>
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>Our mail servers are currently at maximum capacity, please try again later.</div>
  </div>
  <div class='mv3'>
    <div><span class='dark-red'>*&nbsp;</span><label for='email' class='b'>Email:</label></div>
    <input id='email' type='email' name='email' value='{{ $.Email }}' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "email" }} b--invalid-red{{ end }}' autocomplete='on' readonly>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100' disabled>reset password</button>
</div>
{{- else if not $.Token }}
<form method='post' class='w-80 w-70-m w-60-l center' data-prevent-double-submit>
  <h2 class='ma0 b'>Reset password</h2>
  <div><span class='dark-red'>*&nbsp;</span><em>required</em></div>
  {{- if eq $.Error "FormErrorsPresent" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>please fix the errors</div>
  </div>
  {{- end }}
  <p>Enter your email address to receive a password reset link.</p>
  <div class='mv3'>
    <div><span class='dark-red'>*&nbsp;</span><label for='email' class='b'>Email:</label></div>
    <input id='email' type='email' name='email' value='{{ $.Email }}' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "email" }} b--invalid-red{{ end }}' autocomplete='on' required autofocus>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "email" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>reset password</button>
</form>
{{- else }}
<form method='post' class='w-80 w-70-m w-60-l center' data-prevent-double-submit>
  <h2 class='ma0 b'>Reset password</h2>
  <div><span class='dark-red'>*&nbsp;</span><em>required</em></div>
  {{- if eq $.Error "FormErrorsPresent" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>please fix the errors</div>
  </div>
  {{- end }}
  <input type='hidden' name='token' value='{{ $.Token }}'>
  <div class='mv3'>
    <div><span class='dark-red'>*&nbsp;</span><label for='password' class='b'>New password:</label></div>
    <ul class='list-style-disc ph3 f6 mid-gray'>
      <li>at least 8 characters</li>
    </ul>
    <input type='password' id='password' name='password' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "password" }} b--invalid-red{{ end }}' required>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "password" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <div class='mv3'>
    <div><span class='dark-red'>*&nbsp;</span><label for='confirmPassword' class='b'>Confirm password:</label></div>
    <input type='password' id='confirmPassword' name='confirmPassword' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "confirmPassword" }} b--invalid-red{{ end }}' required>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "confirmPassword" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>reset password</button>
</form>
{{- end }}
