<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>update profile{{ if $.Username }} - {{ $.Username }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}{{ if $.DisableReason }} (account disabled){{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if referer }}
<div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
{{- else }}
<div><a href='/users/profile/'>&larr; back</a></div>
{{- end }}
<form method='post' data-prevent-double-submit>
  <h2 class='ma0 b'>Update profile</h2>
  <div><span class='dark-red'>*&nbsp;</span><em>required</em></div>
  {{- if eq $.Error "FormErrorsPresent" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>please fix the errors</div>
  </div>
  {{- end }}
  <div class='mv3'>
    <div><span class='dark-red'>*&nbsp;</span><label for='username' class='b'>Username:</label></div>
    {{- if $.Username }}
    <ul class='list-style-disc ph3 f6 mid-gray'>
      <li>only lowercase letters, numbers and hyphen</li>
      <li>max 30 characters</li>
    </ul>
    <input id='username' name='username' value='{{ $.Username }}' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "username" }} b--invalid-red{{ end }}' required>
    {{- else }}
    <div><em>default user</em></div>
    {{- end }}
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "username" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <div class='mv3'>
    <div><label for='timezoneOffsetSeconds' class='b'>Preferred timezone offset:</label></div>
    <select id='timezoneOffsetSeconds' name='timezoneOffsetSeconds' class='br2 {{ if index $.FormErrors "timezoneOffsetSeconds" }} b--invalid-red{{ end }}'>
      <option value='-43200'{{ if eq $.TimezoneOffsetSeconds -43200 }} selected{{ end }}>-12:00</option>
      <option value='-39600'{{ if eq $.TimezoneOffsetSeconds -39600 }} selected{{ end }}>-11:00</option>
      <option value='-36000'{{ if eq $.TimezoneOffsetSeconds -36000 }} selected{{ end }}>-10:00</option>
      <option value='-34200'{{ if eq $.TimezoneOffsetSeconds -34200 }} selected{{ end }}>-09:30</option>
      <option value='-32400'{{ if eq $.TimezoneOffsetSeconds -32400 }} selected{{ end }}>-09:00</option>
      <option value='-28800'{{ if eq $.TimezoneOffsetSeconds -28800 }} selected{{ end }}>-08:00</option>
      <option value='-25200'{{ if eq $.TimezoneOffsetSeconds -25200 }} selected{{ end }}>-07:00</option>
      <option value='-21600'{{ if eq $.TimezoneOffsetSeconds -21600 }} selected{{ end }}>-06:00</option>
      <option value='-18000'{{ if eq $.TimezoneOffsetSeconds -18000 }} selected{{ end }}>-05:00</option>
      <option value='-14400'{{ if eq $.TimezoneOffsetSeconds -14400 }} selected{{ end }}>-04:00</option>
      <option value='-10800'{{ if eq $.TimezoneOffsetSeconds -10800 }} selected{{ end }}>-03:00</option>
      <option value='-7200'{{ if eq $.TimezoneOffsetSeconds -7200 }} selected{{ end }}>-02:00</option>
      <option value='-3600'{{ if eq $.TimezoneOffsetSeconds -3600 }} selected{{ end }}>-01:00</option>
      <option value='0'{{ if eq $.TimezoneOffsetSeconds 0 }} selected{{ end }}>+00:00</option>
      <option value='3600'{{ if eq $.TimezoneOffsetSeconds 3600 }} selected{{ end }}>+01:00</option>
      <option value='7200'{{ if eq $.TimezoneOffsetSeconds 7200 }} selected{{ end }}>+02:00</option>
      <option value='10800'{{ if eq $.TimezoneOffsetSeconds 10800 }} selected{{ end }}>+03:00</option>
      <option value='12600'{{ if eq $.TimezoneOffsetSeconds 12600 }} selected{{ end }}>+03:30</option>
      <option value='14400'{{ if eq $.TimezoneOffsetSeconds 14400 }} selected{{ end }}>+04:00</option>
      <option value='16200'{{ if eq $.TimezoneOffsetSeconds 16200 }} selected{{ end }}>+04:30</option>
      <option value='18000'{{ if eq $.TimezoneOffsetSeconds 18000 }} selected{{ end }}>+05:00</option>
      <option value='19800'{{ if eq $.TimezoneOffsetSeconds 19800 }} selected{{ end }}>+05:30</option>
      <option value='20700'{{ if eq $.TimezoneOffsetSeconds 20700 }} selected{{ end }}>+05:45</option>
      <option value='21600'{{ if eq $.TimezoneOffsetSeconds 21600 }} selected{{ end }}>+06:00</option>
      <option value='23400'{{ if eq $.TimezoneOffsetSeconds 23400 }} selected{{ end }}>+06:30</option>
      <option value='25200'{{ if eq $.TimezoneOffsetSeconds 25200 }} selected{{ end }}>+07:00</option>
      <option value='28800'{{ if eq $.TimezoneOffsetSeconds 28800 }} selected{{ end }}>+08:00</option>
      <option value='31500'{{ if eq $.TimezoneOffsetSeconds 31500 }} selected{{ end }}>+08:45</option>
      <option value='32400'{{ if eq $.TimezoneOffsetSeconds 32400 }} selected{{ end }}>+09:00</option>
      <option value='34200'{{ if eq $.TimezoneOffsetSeconds 34200 }} selected{{ end }}>+09:30</option>
      <option value='36000'{{ if eq $.TimezoneOffsetSeconds 36000 }} selected{{ end }}>+10:00</option>
      <option value='37800'{{ if eq $.TimezoneOffsetSeconds 37800 }} selected{{ end }}>+10:30</option>
      <option value='39600'{{ if eq $.TimezoneOffsetSeconds 39600 }} selected{{ end }}>+11:00</option>
      <option value='43200'{{ if eq $.TimezoneOffsetSeconds 43200 }} selected{{ end }}>+12:00</option>
      <option value='45900'{{ if eq $.TimezoneOffsetSeconds 45900 }} selected{{ end }}>+12:45</option>
      <option value='46800'{{ if eq $.TimezoneOffsetSeconds 46800 }} selected{{ end }}>+13:00</option>
      <option value='50400'{{ if eq $.TimezoneOffsetSeconds 50400 }} selected{{ end }}>+14:00</option>
    </select>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "timezoneOffsetSeconds" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>save</button>
  <div role='status'></div>
</form>
